* {
    margin: 0;
    padding: 0;
}

.head {
    height: 600px;
    background-image: url(../img/download.jpg);
    background-size: cover;
}
.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
img {
    width: 12%;
    margin-right: 70px;
}
nav a {
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}
.page-header button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900 ;
    color: #fff;
    background-color: #ed7c6a;
    margin-left: 100px;
}
.head p {
    font-size: 37px;
    font-family: monospace;
    letter-spacing: 3px;
    line-height: 60px;
    word-spacing: 5px;
    background-color:#6eab94b7;
    border-radius: 25px;
    color: #fff;
    padding: 30px;
    padding-right: 70px;
    padding-bottom: 70px;
    width: 26%;
    height: 250px;
    float: left;
    position: absolute;
    top: 20%;
    left: 150px;

}
/* h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: cursive;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #074d54;
} */
hr {
    width: 15%;
    height: 5px;
    border: none;
    border-radius: 2px;
    margin: auto;
    background-color: #e98317;
}
article {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    font-family: cursive;
}
article img {
    width: 350px;
    height: 300px;
    margin-right: 100px;
}
article p::first-line {
    color: #439da5;
    font-size: 18px;
}
.sections {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background:url(../img/Path\ 62.png) , url(../img/i-love-my-job-so-much_329181-2178.png) ;
    background-size: cover;
}
.sections h1 {
    margin: auto;
    font-family: cursive;
    font-style: italic;
    margin-top: 50px;
}
.sections .all {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.sections .all img {
    width: 180px;
    height: 150px;
    margin: auto;
    display: block;
}
.sections .all .size {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 60px;
    height: 350px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    
}
.sections .all .size dl {
    padding-top: 15px;
    width: 80%;
    margin: auto;
    line-height: 25px;
    font-family: cursive;
}
.doctors {
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.doctors img {
    width: 150px;
    height: 67px;
    margin: auto;
    margin-top: 50px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/lan.png);
    background-position: top;
    height: 350px;
    border-top-right-radius: 120px;
    border-top-left-radius: 120px;
}
.info-foot{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-foot .info {
    width: 40%;
    /* margin-right: 70px; */
}
.info-foot .info h2 {
    font-size: 35px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 2px;
}
.info-foot .info p {
    font-size: 16px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    line-height: 1.5;
    text-align: center;
}
.info-foot .links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}
.info-foot .links .column {
    display: flex;
    flex-direction: column;
}
.info-foot .links a {
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
}
.info-foot .links a:hover {
    text-decoration: underline;
    font-weight: 900;
}
.info-foot .links label {
    margin-top: 15px;
    color: #f48e76;
    font-size: 25px;
}
.foot {
    text-indent: 100px;
    margin-bottom: 50px;
    color: #fff;
}